<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/polaroid-5.5/" title="polaroid5.5">Polaroid</a></li>
    </ul>
  </nav>