:root {
    --DARKENED-Grey: #424242; 
    --bg: #e9e9e9;
    --Lightened-Grey: #424040;
    
}

body {
    color: var(--DARKENED-Grey);
    background: var(--bg);
    padding: 0 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap') format('woff2');
    
}

nav {
    margin: 40px auto 0 auto;
    width: 300px;
    border-radius: 50px;
    background: var(--bg);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color:var(--Lightened-Grey);
    text-decoration: none;
    font-size: 1.2em;}

h1 {
    font-size: 7em;
    letter-spacing: -2px;
    color: var(--DARKENED-Grey);
    font-family: 'Inter';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap') format('woff2');
}
h2 {
 
    color: var(--DARKENED-Grey);
    font-family: 'Inter';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap') format('woff2');
}

h3 {
 
    color: var(--DARKENED-Grey);
    font-family: 'Inter';
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap') format('woff2');

}
h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap') format('woff2');
    color: var(--DARKENED-Grey);
    text-align: left;
    padding-left: 125px;

}
h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;}
p {
    text-align: center;
}
button{
    background-color: #ff3f3c;
    color: var(--bg);
    
    
}
.ARTICLE-ALIGNMENT {
    margin-top: 600px;
    text-align: center;
    padding: 500px;
    
    
    
}
.CAMERA {
    margin-top: -150px;
}

